.bg-oscuro{
	background-color: #373737;
}
li{
	display: inline-block;
}
a{
	text-decoration: none;
	color: black;
}
button{
	height: 40px;
	width: 90px;
	background-color: white;
	border:none;
}

button:hover{
	background-color: #1742FC;
	color: white;
	border-color: #1742FC; 
	height: 40px;
}
.pd-2{
	padding: 2%;
}

.bg-white{
	background-color: white;
}
.shadow{
	box-shadow: 2px 2px 5px #999;
}

.boton_oscuro{
	background-color: #02133F !important;
	box-shadow: 2px 2px 5px #999;
}